.detail__container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
    .movie__page{
        display: flex;
        .movie__details{
            padding: 2rem;
            .headings{    
                margin-top: 1rem;
                font-size: 18px;
                font-weight: 700;
                color: #de4a24;
            }
            p{
                margin: 0.5rem 0;
            }
        }
    }
    .smilar__movies__container{
        margin-top: 2rem;
    .similar__movies{
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
        justify-content: center;
        margin: 2rem 1rem;
    }
}
    
}