.movie__card{
    width: calc(100% / 5 - 20px );
    
    .movie__poster{
        width: 100%;
        position: relative;
        img{
            width: 100%;
            border-radius: 6px;
        }
    }
    .movie__details{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        .movie__title{
            font-size: 20px;
            margin-bottom: 0.5rem;
            color: #fff;
            
        }
    }
    }