.header{
    height: 70px;
    border-bottom: 0.5px solid #373540;
    nav{
        ul{
            display: flex;
            padding: 0;
            list-style: none;
            justify-content: center;
            height: 70px;
            align-items: center;
            .nav__link{
                text-decoration: none;
                font-size: 18px;
                margin-right: 1rem;
                color: #fff;
            }
        }
    }
}