.search__container{
    .search__input{
        box-shadow: rgb(0 0 0 / 20%) 0px 18px 50px -10px;
        padding: 0.5rem;
        border: 0.5px solid #ebebeb;
        border-radius: 100px;
        outline: none;
    }
}