.search__container{
    max-width: 50%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    .search__input{
        box-shadow: rgb(0 0 0 / 20%) 0px 18px 50px -10px;
        padding: 0.8rem 0.5rem;
        border: 0.5px solid #ebebeb;
        width: 50%;
        border-radius: 6px;
        outline: none;
    }
}